{% load static %}

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style_sheet.css' %}">
    <link rel="icon" href="{% static 'pages/images/favicon.ico' %}">
    <title>{% block title %}Advocacy Project{% endblock %}</title>
<!--block needed to redirect from some pages-->
{% block meta%} {% endblock meta %}
</head>

<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" id="login-status" href="{% url 'pages:home' %}">
            <img src="{% static 'pages/images/TousUnis.png' %}" alt="logo Tous Unis" height=30 width=30>
                    Tous Unis </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'communities:list' %}" id="link-communities">Collectivités</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'officials:official_dispatch' %}" id="link-officials">Elus</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'interviews:interviews_list' %}" id="link-interviews">Entretiens</a>
        </li>
         <li class="nav-item active">
            <a class="nav-link" href="{% url 'interviews:advocacy_topic_list' %}" id="link-support-docs">Plaidoyer</a>
        </li>
        {% if user.status_type == "MANAGER" %}
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'new_user' %}" id="new-user">Nouvel Utilisateur</a>
            <a class="dropdown-item" href="{% url 'user_types' %}" id="link-users">Utilisateurs</a>
            <a class="dropdown-item" href="{% url 'teams:team_list' %}">Equipes</a>

            </div>
        {% endif %}
      </li>
    </ul>
    {% endif %}
    <form class="form-inline my-2 my-lg-0">
        {% if user.is_authenticated %}
        <a class="btn btn-warning my-2 my-sm-0" id="header-deconnection" href="{% url 'logout' %}" role="button">DECONNEXION</a>
        {% else %}
        <a class="btn btn-success my-2 my-sm-0" id="header-connection" href="{% url 'login' %}" role="button">CONNEXION</a>
        {% endif %}
    </form>
  </div>
</nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="{% url 'pages:contact' %}">Contact</a>
                </div>
                <div class="col-sm">
                    Tous Unis
                </div>
                <div class="col-sm">
                    <a href="{% url 'pages:security_info' %}">Protection des Données</a>
                </div>
            </div>
        </div>
    </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>



