{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Créer une Commune</h1>
    <form method="post" id="cityForm" novalidate>
        {% csrf_token %}
        <table>
        {{ form|crispy}}
        </table>
        <button class="btn btn-secondary" type="submit">Créer une Commune</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_region").change(function () {
            // regions are at the top of the territorial hierarchy and are called first
            var regionId = $(this).val();
            $.ajax({
                url: "{% url 'communities:ajax_load_departments' %}", 
                data: {
                // add the region id to the GET parameters
                'region': regionId       
                },
                success: function (data) {
                    // id_department is provided by Django
                    $("#id_department").html(data);
                }
            });
        });
        // Department choice is subordinated to the region
        $("#id_department").change(function () {
            var departmentId = $(this).val(); 
            $.ajax({                 
                url: "{% url 'communities:ajax_load_intercoms' %}",
                data: {
                // add the department to the GET parameters
                'department': departmentId
                },
                success: function (data) { 
                $("#id_intercom").html(data);
                }
            });
        });
        
    </script>

{% endblock %}


