{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Créer une Intercommunalité</h1>
    <form method="post" id="intercomForm" data-departments-url="{% url 'communities:ajax_load_departments' %}" novalidate>
        {% csrf_token %}
        <table>
        {{ form|crispy}}
        </table>
        <button class="btn btn-secondary" type="submit">Créer une Intercommunalité</button>
    </form>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_region").change(function () {
      var url = $("#intercomForm").attr("data-departments-url"); 
      var regionId = $(this).val();
      $.ajax({                       // initialize an AJAX request
        url: url,  
        data: {
          'region': regionId
        },
        success: function (data) { 
          $("#id_department").html(data);
        }
      });
    });
  </script>
{% endblock %}
