{% extends "base.html" %}

{% block content %}
    <h1>Créer une Intercommunalité</h1>
    <form method="post" id="intercomForm" data-departments-url="{% url 'communities:ajax_load_departments' %}" novalidate>
        {% csrf_token %}
        <table>
        {{ form.as_table}}
        </table>
        <button type="submit">Créer une Interommunalité</button>
        <a href="{% url 'communities:intercom_create' %}">Retour</a>
    </form>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_region").change(function () {
      var url = $("#intercomForm").attr("data-departments-url");  // get the url of the `load_cities` view
      var regionId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'region': regionId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_department").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}
