{% extends "base.html" %}

{% block content %}
    <h1>Liste des Régions</h1>
    <ul id="region-list">
        {% for region in object_list %}
            <li class="region-name">{{ region.name }}</li>
        {% endfor %}
    </ul>
    {% if user.status_type == "MANAGER" %}
    <form action="{% url 'communities:region_create' %}" id="region-create">
        <button class="btn btn-secondary" type="submit">Créer Une Région</button>
    </form>
    {% endif %}
    {% include "pagination_snippet.html" %}
{% endblock %}