{% extends "base.html" %}

{% block content %}
{% regroup object_list by keyword as keyword_list %}
    <h1>Liste des Thèmes de Plaidoyer</h1>
    <ul>
        {% for keyword in keyword_list %}
        <li><h2>{{ keyword.grouper }}</h2></li>
            <ul>
                {% for topic in keyword.list %}
                    {% if topic.is_active %}
                        <li><a href="{{ topic.get_absolute_url }}">{{ topic.key_statement }}</a></li>
                    {% else %}
                        <li>Sujet en Sommeil : {{ topic.key_statement }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
       {% endfor %}
       {% if user.status_type == "MANAGER" %}
       <form action="{% url 'interviews:advocacy_topic_create' %}" id="topic-create">
           <button type="submit">Créer Un Nouveau Thème</button>
       </form>
       {% endif %}
   </ul>
    {% include "pagination_snippet.html" %}
{% endblock %}

Bouton de création d'une nouvelle fiche

