{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Ajout de Mandat de Conseiller Départemental</h1></p>

<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Créer">
</form>

<h4>Le Département que vous recherchez n'existe pas ? </h4>
<form action="{% url 'communities:department_create' %}" target="_blank">
    <button  class="btn btn-secondary" type="submit">Créer un Département</button>
</form>

{% endblock %}