{% extends "base.html" %}

{% block content %}
    <h1>Créer des Mandats</h1>

    <ul>
        <li><a href="" id="city-mandate">Mandat Municipal</a></li>
        <li><a href="" id="intercom-mandate">Mandat Intercommunal</a></li>
        <li><a href="" id="department-mandate">Mandat Départemental</a></li>
        <li><a href="" id="region-mandate">Mandat Régional</a></li>
        <li><a href="" id="mp-mandate">Mandat Parlementaire</a></li>
        <li><a href="" id="senator-mandate">Mandat Sénatorial</a></li>
    </ul>

{% endblock %}
