html {
    border: red 5px solid;
    height: 100%;
    overflow: scroll;
}

body {
    border: blue 4px solid;
    height: 100%;
    overflow: scroll;
}

header section {
    border: green 3px dotted;
}

main {
    border: pink 3px dotted;
    height: 80%;
}

footer {
    border: green 3px dotted;
    position: fixed;
    bottom: 0;
    width: 100%
}