{% extends "base.html" %}
{% block content %}
    <h1>Fiche d'Entretien</h1>

    <div id='interview-details'>
        <p>Date Prévue : 
            {% if not interview.date_planned %}
                Sans Objet
            {% else %}
                {{ interview.date_planned }}
            {% endif %}</p>
        <p>Date Effective: 
         {% if not interview.date_effective %}
                Sans Objet
            {% else %}
                {{ interview.date_effective}}
            {% endif %}</p>

        <p>Bénévole : {{ interview.volunteer }}</p>
        <p>Elu : {{ interview.official }}</p>
        <p>Objectif : {{ interview.goal }}</p>
        <p>Thèmes à Aborder :
        {% for topic in object.topics.all %}
            <div>{{ topic }}<br></div>
        {% endfor %}
    
    </div>
    {% if user.status_type == "MANAGER" %}
        <form action="{% url 'interviews:interview_update' interview.id %}">
            <input type="submit" value="Modifier">
        </form>
    {% endif %}

    {% if user == interview.volunteer or user.status_type == "MANAGER" %}
        <form action="{% url 'interviews:interview_assessment' interview.id %}">
            <input type="submit" value="Evaluer">
    {% endif %}
    {% endblock %}

