{% extends "base.html" %}


{% block content %}

<h1>Création d'un Nouvel Elu</h1>
<form method="post">
    {% csrf_token %}
    <h2>Identifiants :</h2>
    <p class="intput-field" id="first_name" required>Prénom : {{ form.first_name }}</p>
    <p class="intput-field" id="last_name" required>Nom : {{ form.last_name }}</p>
    <hr>
    <h2>Mandats Locaux : </h2>
    <p class="comment"> Sélectionnez un département pour vous aider à trouver un mandat.</p>
    <p class="dropdown-list">Département : {{ form.departments }}</p>
    <p class="comment"> Si le mandat n'apparaît pas dans la liste vous pouvez en ajouter un :
    <a href="{% url 'officials:mandate_add' %}" id="mandate_add" target="_blank">Mandats</a></p>
    <p class="multiple-choice">Mandat Municipal: {{ form.mandate_city }}</p>
    <p class="multiple-choice">Mandat Intercommunal : {{ form.mandate_intercom }}</p>
    <p class="multiple-choice">Mandat Départemental : {{ form.mandate_department }}</p>
    <p class="multiple-choice">Mandat Régional: {{ form.mandate_region }}</p>
    <h2>Mandats Nationaux :</h2>
    <p class="single-choice">Mandat de Député: {{ form.mp_mandate }}</p>
    <p class="multiple-choice">Mandat de Sénateur : {{ form.senator_mandate }}</p>

    <input type="submit" value="Créer">
</form>


{% endblock%}
