{% extends "base.html" %}

{% block content %}
<h1>Fiche Détaillée d'un Elu</h1>
 <div id='official-details'>

    <p>Prénom : {{ official.first_name }}</p>
    <p>Nom de Famille: {{ official.last_name }}</p>
    <hr>
    <h2>Mandats:</h2>
    <div>Communes:
        <ul>
        {% for mandate in object.mandate_city.all %}
            <li>{{ mandate }}<br></li>
        {% empty %}
            Sans Objet
        {% endfor %}
        </ul>
    </div>
    <div>Intercommunalités:
        <ul>
        {% for mandate in object.mandate_intercom.all %}
            <li>{{ mandate }}<br></li>
        {% empty %}
             Sans Objet
        {% endfor %}
        </ul>
    </div>
    <div>Conseil Départemental:
        <ul>
        {% for mandate in object.mandate_department.all %}
            <li>{{ mandate }}<br></li>
        {% empty %}
             Sans Objet
        {% endfor %}
        </ul>
    </div>
    <div>Conseil Régional:
        <ul>
        {% for mandate in object.mandate_region.all %}
            <li>{{ mandate }}<br></li>
        {% empty %}
             Sans Objet
        {% endfor %}
        </ul>
    </div>
    <div>Député:
        <ul>
        {% for mandate in object.mp_mandate.all %}
            <li>{{ mandate }}</li>
        {% empty %}
            Sans Objet
        {% endfor %}
        </ul>
    </div>
    <div>Sénateur:
        <ul>
        {% for mandate in object.senator_mandate.all %}
            <li>{{ mandate }}</li>
        {% empty %}
            Sans Objet
        {% endfor %}
        </ul>
    </div>

    </div>
    {% if user.status_type == "MANAGER" %}
        <form action="{% url 'officials:official_update' official.id %}">
            <input class="btn btn-secondary" type="submit" value="Modifier">
        </form>
    {% endif %}
    <hr>
{% for interview in interviews %}
    <div class="item-details">
    <h5>Statut : {{ interview.get_status_display}} </h5>Prévue: {{ interview.date_planned| default_if_none:"Non Renseigné"}} | Réelle: {{interview.date_effective | default_if_none:"Non Renseigné"}}</p>
    <p>Résultat: {{ interview.outcome|default_if_none:"Non Renseigné" }}</p>
    <hr>
{% empty %}
    <p> Pas d'entretien disponible</p>
    </div>
{% endfor %}


{% endblock %}
