{% extends "base.html" %}

{% block content %}
<h1>Fiche Détaillée d'un Elu</h1>
 <div id='official-details'>

    <p>Prénom : {{ official.first_name }}</p>
    <p>Nom de Famille: {{ official.last_name }}</p>
    <hr>
    <h2>Mandats:</h2>
    <p>Communes: <br>
        {% for mandate in object.mandate_city.all %}
            <div>{{ mandate }}<br></div>
        {% empty %}
            <div>Sans Objet<br></div>
        {% endfor %}
        </div>
    <p>Intercommunalités: <br>
        {% for mandate in object.mandate_intercom.all %}
            <div>{{ mandate }}<br></div>
        {% empty %}
             <div>Sans Objet<br></div>
        {% endfor %}
    <p>Conseil Départemental: <br>
        {% for mandate in object.mandate_department.all %}
            <div>{{ mandate }}<br></div>
        {% empty %}
             <div>Sans Objet<br></div>
        {% endfor %}
    <p>Conseil Régional: <br>
        {% for mandate in object.mandate_region.all %}
            <div>{{ mandate }}<br></div>
        {% empty %}
             <div>Sans Objet<br></div>
        {% endfor %}
        </div>
    <p>Député: <br>
        {% for mandate in object.mp_mandate.all %}
            <div>{{ mandate }}<br></div>
        {% empty %}
             <div>Sans Objet<br></div>
        {% endfor %}
        </div>
    <p>Sénateur: <br>
        {% for mandate in object.senator_mandate.all %}
            <div>{{ mandate }}<br></div>
        {% empty %}
             <div>Sans Objet<br></div>
        {% endfor %}
        </div>

    </div>
    
    </div>
    {% if user.status_type == "MANAGER" %}
        <form action="">
            <input type="submit" value="Modifier">
        </form>
    {% endif %}
    <hr>
{% for interview in interviews %}
    <div class="item-details">
    <h5>Statut : {{ interview.get_status_display}} </h5>Prévue: {{ interview.date_planned| default_if_none:"Non Renseigné"}} | Réelle: {{interview.date_effective | default_if_none:"Non Renseigné"}}</p>
    <p>Résultat: {{ interview.outcome|default_if_none:"Non Renseigné" }}</p>
    <hr>
{% empty %}
    <p> Pas d'entretien disponible</p>
    </div>
{% endfor %}


{% endblock %}
